<div>
  <div>
    <h2>
      List of all friends
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Add a new friend
    </h3>

    <form action="/insert_friend" method="post">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <textarea id="address_box" name="query_address" rows="3"></textarea>
      </div>

      <div>
        <label for="birthday_box">
          Birthday
        </label>

        <input type="date" id="birthday_box" name="query_birthday">
      </div>

      <div>
        <label for="restrictions_box">
          Dietary Restrictions
        </label>

        <select id="restrictions_box" name="query_restrictions[]" size="4" multiple>
          <%Diet.all.order(:sort_column).each do |diet|%>
          <option value="<%=diet.id%>"><%=diet.name%></option>
          <%end%>
        </select>
        <br><em>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</em>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes" rows="3"></textarea>
      </div>

      <button>
        Create friend
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Birthday
        </th>

        <th>
          User
        </th>

        <th>
          Dietary Restrictions
        </th>

        <th>
          Notes
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_friends.each do |a_friend| %>
      <tr>
        <td>
          <%= a_friend.id %>
        </td>

        <td>
          <%= a_friend.name %>
        </td>

        <td>
          <%= a_friend.address %>
        </td>

        <td>
          <%= a_friend.birthday %>
        </td>

        <td>
          <%= a_friend.user_id %>
        </td>

        <td>
          <% a_friend.restrictions.each do |restriction|%>
          <%= restriction.diet.name %> <br>
          <%end%>
        </td>

        <td>
          <%= a_friend.notes %>
        </td>

        <td>
          <%= time_ago_in_words(a_friend.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_friend.updated_at) %> ago
        </td>

        <td>
          <a href="/friends/<%= a_friend.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
