<div>
  <div>
    <h2>
      List of all friends
    </h2>
  </div>
</div>

<hr>

<div>
  <div>
    <h3>
      Add a new friend
    </h3>

    <form action="/insert_friend" method="post" style="width:40%">
      <div>
        <label for="name_box"> 
         <b> Name </b>
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <div>
        <label for="address_box">
          <b>Address</b>
        </label>

        <textarea id="address_box" name="query_address" rows="3" class="form-control"></textarea>
      </div>

      <div>
        <label for="birthday_box">
          <b>Birthday</b>
        </label>

        <input type="date" id="birthday_box" name="query_birthday" class="form-control">
      </div>

      <div>
        <label for="restrictions_box">
          <b>Dietary Restrictions</b>
        </label>

        <select id="restrictions_box" name="query_restrictions[]" size="4" multiple class="form-select">
          <%Diet.all.order(:sort_column).each do |diet|%>
          <option value="<%=diet.id%>"><%=diet.name%></option>
          <%end%>
        </select>
        <small><em>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</em></small>
      </div>

      <div>
        <label for="notes_box">
          <b>Notes</b>
        </label>

        <textarea id="notes_box" name="query_notes" rows="3" class="form-control"></textarea>
      </div>
      <br>
      <button class="btn btn-primary">
        Create friend
      </button>
    </form>
    <br>
    <a href="/new_diet_requests">
    <button class="btn btn-warning">
    Request to add a new dietary restriction
    </button>
    </a>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>
        <th>
          Name
        </th>

        <th>
          Address
        </th>

        <th>
          Birthday
        </th>

        <th>
          Dietary Restrictions
        </th>

        <th>
          Notes
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_friends.each do |a_friend| %>
      <tr>
        <td>
          <%= a_friend.name %>
        </td>

        <td>
          <%= a_friend.address %>
        </td>

        <td>
          <%= a_friend.birthday.strftime("%B %d, %Y") %>
        </td>

        <td>
          <% a_friend.restrictions.each do |restriction|%>
          <%= restriction.diet.name %> <br>
          <%end%>
        </td>

        <td>
          <%= a_friend.notes %>
        </td>

        <td>
          <%= time_ago_in_words(a_friend.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_friend.updated_at) %> ago
        </td>

        <td>
          <a href="/friends/<%= a_friend.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
