<div>
  <div>
    <h1>
      <%= @the_friend.name %>'s details
    </h1>

    <div>
      <div>
        <a href="/friends">
          Go back
        </a>
      </div>


    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_friend.name %>
      </dd>

      <dt>
        Address
      </dt>
      <dd>
        <%= @the_friend.address %>
      </dd>

      <dt>
        Birthday
      </dt>
      <dd>
        <%= @the_friend.birthday %>
      </dd>

      <dt>
        Dietary Restrictions
      </dt>
      <dd>
      <ul>
        <% @the_friend.restrictions.each do |restriction| %>
        <li><%=restriction.diet.name%></li>
        <%end%>
      </ul>
      </dd>

      <dt>
        Notes
      </dt>
      <dd>
        <%= @the_friend.notes %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_friend.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_friend.updated_at) %> ago
      </dd>
    </dl>

    <div>
        <a href="/delete_friend/<%= @the_friend.id %>">
          Delete friend
        </a>
      </div>
    </div>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit friend
    </h2>

    <form action="/modify_friend/<%= @the_friend.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_friend.name %>">
      </div>

      <div>
        <label for="address_box">
          Address
        </label>

        <textarea id="address_box" name="query_address"><%= @the_friend.address %></textarea>
      </div>

      <div>
        <label for="birthday_box">
          Birthday
        </label>

        <input type="date" id="birthday_box" name="query_birthday" value="<%= @the_friend.birthday %>">
      </div>

      <div>
        <label for="restrictions_box">
          Dietary Restrictions
        </label>

        <select id="restrictions_box" name="query_restrictions[]" size="4" multiple>
          <%Diet.all.order(:sort_column).each do |diet|%>
            <%if @restriction_diet_ids.include?(diet.id) %>
              <option value="<%=diet.id%>" selected="selected"><%=diet.name%></option>
            <%else%>
              <option value="<%=diet.id%>"><%=diet.name%></option>
            <%end%>
          <%end%>
        </select>
        <br><em>Hold down the Ctrl (windows) / Command (Mac) button to select multiple options.</em>
      </div>

      <div>
        <label for="notes_box">
          Notes
        </label>

        <textarea id="notes_box" name="query_notes"><%= @the_friend.notes %></textarea>
      </div>

      <button>
        Update friend
      </button>
    </form>
  </div>
</div>

<hr>
