
<div>
  <div>
    <h1>
      Create a group outing
    </h1>

    <form action="/insert_group" method="post">

      <select id="friends_box" name="query_friend_id[]" size="4" multiple>
        <%@matching_friends.order(:name).each do |friend|%>
        <option value="<%=friend.id%>"><%=friend.name%></option>
        <%end%>
      </select>
      <br><em>Hold down the Ctrl (windows) / Command (Mac) button to select multiple people.</em>

      <button>
        Create group
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          Friend
        </th>

        <th>
          User
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_groups.each do |a_group| %>
      <tr>
        <td>
          <%= a_group.id %>
        </td>

        <td>
          <%= a_group.friend.name %>
        </td>

        <td>
          <%= a_group.user.id %>
        </td>

        <td>
          <%= time_ago_in_words(a_group.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_group.updated_at) %> ago
        </td>

        <td>
          <a href="/groups/<%= a_group.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
