
<div>
  <div>
    <h1>
      Create a group outing
    </h1>

    <form action="/insert_group" method="post">
      <div>
        <select id="friends_box" name="query_friend_id[]" size="6" multiple>
          <%@matching_friends.order(:name).each do |friend|%>
          <option value="<%=friend.id%>"><%=friend.name%></option>
          <%end%>
        </select>
        <br><em>Hold down the Ctrl (windows) / Command (Mac) button to select multiple people.</em>
      </div>
      <button>
        Create group
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Friend
        </th>

       <th>
          Address
        </th>

        <th>
          Birthday
        </th>

        <th>
          Dietary Restrictions
        </th>

        <th>
          Notes
        </th>

        <th>
          Group created at
        </th>


      </tr>

      <% @list_of_groups.each do |a_group| %>
      <tr>
        <td>
          <%= a_group.friend.name %>
        </td>

        <td>
          <%= a_group.friend.address %>
        </td>

        <td>
          <%= a_group.friend.birthday %>
        </td>

        <td>
          <% a_group.friend.restrictions.each do |restriction|%>
          <%= restriction.diet.name %> <br>
          <%end%>
        </td>

        <td>
          <%= a_group.friend.notes %>
        </td>

        <td>
          <%= time_ago_in_words(a_group.created_at) %> ago
        </td>

      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>

<h4>Combined dietary restrictions for the group: </h4>
<ul>

<%@list_of_diets.each do |diet_id|%>
<%diet = Diet.where({ :id => diet_id }).first%>
<li><%=diet.name%></li>
<%end%>
</ul>

<h4>Restaurant Recommendations</h4>
<form action="/get_recommendations" method="post">
      <button>
        Get recommendations
      </button>
    </form>
