<div>
  <div>
    <h1>
      Group #<%= @the_group.id %> details
    </h1>

    <div>
      <div>
        <a href="/groups">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_group/<%= @the_group.id %>">
          Delete group
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Friend
      </dt>
      <dd>
        <%= @the_group.friend_id %>
      </dd>

      <dt>
        User
      </dt>
      <dd>
        <%= @the_group.user_id %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_group.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_group.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit group
    </h2>

    <form action="/modify_group/<%= @the_group.id %>"  method="post" >
      <div>
        <label for="friend_id_box">
          Friend
        </label>

        <input type="text" id="friend_id_box" name="query_friend_id" value="<%= @the_group.friend_id %>">
      </div>

      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id" value="<%= @the_group.user_id %>">
      </div>

      <button>
        Update group
      </button>
    </form>
  </div>
</div>

<hr>
