<div>
  <div>
    <h1>
      List of all new diet requests
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new new diet request
    </h2>

    <form action="/insert_new_diet_request" method="post" style="width:20%">
      <div>
        <label for="name_box">
          <b>Name</b>
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>
      <button class="btn btn-warning">
        Create new diet request
      </button>
    </form>
  </div>
</div>

<div>
<p>An admin will approve your request and add it to the list! </p>
</div>

<hr> 

<h3>Your open requests:</h3>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_new_diet_requests.each do |a_diet| %>
      <tr>
        <td>
          <%= a_diet.id %>
        </td>

        <td>
          <%= a_diet.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_diet.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_diet.updated_at) %> ago
        </td>

        <td>
        <a href="/delete_new_diet_request/<%= a_diet.id %>">
          Delete request
        </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>
