
<div>
  <div>
    <h2>
      Add a new diet
    </h2>

    <form action="/insert_diet" method="post" style="width:20%">
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" class="form-control">
      </div>

      <button class="btn btn-warning">
        Create diet
      </button>
    </form>
  </div>
</div>

<hr>
<h2>List of all diets</h2>
<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_diets.each do |a_diet| %>
      <tr>
        <td>
          <%= a_diet.id %>
        </td>

        <td>
          <%= a_diet.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_diet.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_diet.updated_at) %> ago
        </td>

        <td>
          <a href="/diets/<%= a_diet.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
<h3>Diet requests pending</h3>

<div>
  <div>
    <table border="1" class="table table-hover">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @pending_diets.each do |a_diet| %>
      <tr>
        <td>
          <%= a_diet.id %>
        </td>

        <td>
          <%= a_diet.name %>
        </td>

        <td>
          <%= time_ago_in_words(a_diet.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_diet.updated_at) %> ago
        </td>

        <td>
        <a href="/delete_new_diet_request_admin/<%= a_diet.id %>">
          Delete request
        </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
