<!DOCTYPE html>
<html>
  <head>
    <title>Rails Template</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <h1>Considerate Company</h1>
    <h3>Storing facts about friends!</h3>
      <%if current_user == nil%>
      <a href="/users/sign_up">Sign up</a>
      <a href="/users/sign_in">Sign in</a>
      <%else%>
      Hello, <%=current_user.email%>.   
      <a href="/users/sign_out">Sign out</a>
      <a href="/users/edit">Edit profile</a>
      <%end%>

    <%= yield %>
  </body>
</html>
